<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="jmc.jfr.launching.JFR.AUTO_OPEN" value="false"/>
    <booleanAttribute key="jmc.jfr.launching.JFR.CONTINUOUS" value="true"/>
    <stringAttribute key="jmc.jfr.launching.JFR.DELAY" value="0 s"/>
    <stringAttribute key="jmc.jfr.launching.JFR.DURATION" value="1 min"/>
    <booleanAttribute key="jmc.jfr.launching.JFR.ENABLED" value="false"/>
    <stringAttribute key="jmc.jfr.launching.JFR.FILENAME" value="\Mission Control\flight_recording.jfr"/>
    <stringAttribute key="jmc.jfr.launching.JFR.NAME" value="My Recording"/>
    <stringAttribute key="jmc.jfr.launching.JFR.SETTINGS" value=""/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/DeimosExampleMod"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.fabricmc.loader.impl.launch.knot.KnotClient"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="DeimosExampleMod"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DeimosExampleMod"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dfabric.development=true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:DeimosExampleMod}/run"/>
</launchConfiguration>
